In [ ]:
# 1. Relationships could be seen well with a clustering model
# 2. Spam detection uses supervised learning. A model would need to look at data to flag spam messages.
# 3. A test set is a smaller set of data that the model has not seen. This set is used to test how effective the model is.
# 4. a)

In [13]:
import boto3
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'ryan-greiner-bucket'
bucket = s3.Bucket(bucket_name)

## Defining the file to be read from s3 bucket
file_key = 'Real_Estate(1).csv'
bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## Reading CSV file
house = pd.read_csv(file_content_stream)
house.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [14]:
house = house.drop(columns = ['No', 'transaction_date'], axis = 1)
house.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [15]:
X = house.drop(columns = 'house_price_of_unit_area', axis = 1)
Y = house['house_price_of_unit_area']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [16]:
lm_md = LinearRegression().fit(X_train, Y_train)
lm_pred = lm_md.predict(X_test)
lm_pred

mse = np.mean((Y_test - lm_pred)**2)
print('The MSE of the model is', mse)

The MSE of the model is 129.30903487631426